@import url('https://fonts.googleapis.com/css?family=Chicle|Roboto:100,200,300,400,500,600,700');


/*-- Header --*/
div {
    font-family: "Roboto", sans-serif; 
    border: solid 0px #000;
}

header, h1, h2, h3, h4, h5, h6, #nav {
    margin: 0;
}

.logo {
    background: url("../assets/images/logo.jpg"); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    min-height: 249px; 
    transition: all .5s ease-in-out; 
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out;
}

.bg-color-heading {
    background: #4BB1D9;
}

.heading {
    text-align: center;
}

.slogan {
    font-family: "Chicle", cursive; 
    font-size: 45px; 
    margin: 40px 0; 
    color: #DE2825; 
    text-shadow: 2px 2px #ffff00;
}

#nav li {
    padding: 0;
}

.menu-color-home {
    background-color: #DE2825;
}

.menuitem {
    height: 120px; 
    text-align: center; 
    padding: 0;
}

.menuitem a {
    width: 100%; 
    text-decoration: none; 
    color: #fff; 
    height: 120px;
}

.menuitem a i {
    padding-top: 45px; 
    display: block; 
    color: #fff; 
    font-size: 25px;
}

.menuitem span {
    display: block; 
    width: 100%; 
    padding-top: 5px; 
    text-align: center; 
    text-transform: uppercase; 
    font-size: 14px; 
    font-weight: 300; 
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(255,255,255,0.2); 
    height: 120px;
}

.menu-color-bookings {
    background-color: #2528DE;
}

.menu-color-photos-videos {
    background-color: #282525;
}

.menu-color-songs {
    background-color: #25DE28;
}


/*-- Home --*/
.row-table {
    display: table;
}

.bg-color-new-material, .bg-color-bookings, .bg-color-photos-videos, .bg-color-songs {
    background-color: #fff;
}

.section-heading, .bookings-heading, .photos-videos-heading, .songs-heading {
    font-family: "Chicle", cursive;
    margin-top: 25px; 
    margin-bottom: 40px; 
    color: #DE2825; 
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.new-material {
    margin: 20px 0; 
    display: block; 
    clear: both;
}

.new-material-image {
    background: url("../assets/images/placeholder.png"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain; 
    min-height: 250px; 
    transition: all .5s ease-in-out; 
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out;
}

.new-material-text {
    display: inline-block; 
    position: relative; 
    width: 100%;
    margin: 0; 
    text-align: center;
}


/*-- Footer --*/
footer {
    background-color: #1d89bc; 
    color: #fff;
    min-height: 120px; 
    margin: 0;
}

#footer-details {
    margin: 20px;
}

.general-sub {
    font-family: "Chicle", cursive; 
    color: #de2825;
    text-shadow: 1px 1px #ffff00;
}

.inline-block {
    display: inline-block;
}

.footer-links a, .booking-submit {
    color: #ffff00; 
    text-decoration: none;
    transition: all .35s ease-in-out; 
    -moz-transition: all .35s ease-in-out; 
    -webkit-transition: all .35s ease-in-out; 
    -o-transition: all .35s ease-in-out;
}

.footer-links a:hover, .booking-submit:hover {
    color: #de2825;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px; 
    height: 32px; 
    padding: 12px 0; 
    border-radius: 50%; 
    font-size: 13px; 
    line-height: 7px; 
    text-align: center; 
    color: #fff; 
    background: #4bb1d9; 
    transition: all .35s ease-in-out; 
    -moz-transition: all .35s ease-in-out; 
    -webkit-transition: all .35s ease-in-out; 
    -o-transition: all .35s ease-in-out;
}

.social-links li a i:hover {
    background: #2528de;
}


/*-- Bookings --*/
.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px; 
    margin-bottom: 20px; 
    background-color: #de2825;
    color: #fff;
}
button[type="submit"]:hover {
    color: #ffff00;
}

.h5-spacing {
    padding-bottom: 15px;
}

.form-control {
    margin-bottom: 10px;
    margin-top: 5px;
}


/*-- Photos and Videos --*/

.img-thumbnail, .img-fluid {
    transition: all .5s ease-in-out; 
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out; 
    -o-transition: all .5s ease-in-out;
}

.img-thumbnail {
    max-height: 150px;
    max-width: 150px;
}

.photos-videos-links, .songs-links {
     text-align: center;
     color: #2528de;
     margin: 10px;
 }

.photos-videos-links a:hover {
     text-decoration: none;
     color: #de2825;
 }

